.registration{
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-form{
    width: 350px;
    padding: 20px;
}


.user-form form{
    margin-bottom: 20px;
}

.user-form h2{
    text-align: center;
}

.avatar{
    display: flex;
    justify-content: center;
}

input{
    margin-bottom: 1rem;
}

.form-double{
    display: flex;
    justify-content: space-between;
}

.double-input{
    width: 150px;
}

.form-input label{
    margin-bottom: 2px;
}

.select-input{
    margin-bottom: 1rem;
}

.select-input label{
    margin-bottom: 2px;
}

.avatar-wrapper{
    min-height: 150px;
    margin-bottom: 1rem; 
}

.select-input-double{
    display: flex;
    flex-direction: column;
}

#zipcode{
    height: 54px;
}

@media only screen and (min-width: 600px){
    .user-form{
        width: 500px;
    }
}

@media only screen and (min-width: 1000px){
    .user-form{
        width: 760px;
    }

    .form-column{
        width: 350px;
    }

    .login-form{
        display: flex;
        justify-content: center;
    }

    .form-page{
        display: flex;
        justify-content: center;
    }

    .registration-form{
        display: flex;
        justify-content: space-between;
    }

    .log-in p{
        text-align: center;
    }

    .avatar{
        justify-content: flex-start;
    }
}
