
.display-thumbnails{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-image{
    height: 140px;
    width: 200px;
    flex: auto;
    background-color: #E3EBED;
}

.thumbnail-image img{
    height: 100%;
    width: 100%;
}

.resource-thumbnail{
    margin: 20px;
    width: 200px;
}

.category-symbol{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.category-display{
    display: flex;
    padding-top: 8px;
    padding-bottom: 5px;
}
