@import "node_modules/bootstrap/scss/bootstrap";

$colors: (
    "blue":       #4190ce,
    "indigo":     $indigo,
    "purple":     #bb3cea,
    "pink":       $pink,
    "red":        #ef694d,
    "orange":     #fcba4a,
    "yellow":     #f3e762,
    "green":      #85d66b,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  #0F1617
  );


  $theme-colors:(
    "primary":    #141D1F,
    "secondary":  #4190ce,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      #E3EBED,
    "dark":       #0F1617
  );

  .navbar{
    margin-bottom: 20px;
  }

  .add-resource-container{
    height: 50vh;
  }

  .form-input{
    display: flex;
    flex-direction: column;
  }

  label{
    text-align: left;
  }

  .form-textarea{
    display: flex;
    flex-direction: column;
  }

  main{
    min-height: 85vh;
  }

  .per-background{
    background-color: #ef694d;
  }

  .mus-background{
    background-color: #fcba4a;
  }

  .fin-background{
    background-color: #f3e762;
  }

  .dig-background{
    background-color: #85d66b;
  }

  .cra-background{
    background-color: #4190ce;
  }

  .fab-background{
    background-color: #bb3cea;
  }

  a{
    color: black;
  }

  li a{
    color: white;
    margin-right: 20px;
  }

  li a:hover{
    color: #f3e762;
    text-decoration: none;
  }

  .navbar-nav{
    flex-direction: row;
  }