.jumbotron{
    background: linear-gradient(
            rgba(0,0,0,0.45),
            rgba(0,0,0,.45)
        ),
        url("https://images.unsplash.com/photo-1501084817091-a4f3d1d19e07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d727fdcff7a7f9bfb440b887ce345c28&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding-top: 100px;
    margin-bottom: 5vh;
}

.jumbotron-search{
    width: 300px;
    margin: 0 auto;
}

h4, h1{
    color: white;
    text-align: center;
}

h1, h2{

    margin-bottom: 20px;
}

.video-wrapper{
    width: 100%;
}

.placeholder{
    height: 200px;
    border: solid 3px red;
}

.highlight-story{
    height: 300px;
    border: solid 3px green;
}

.h2{
    text-align: left;
}

.video-wrapper{
    position: relative;
    width: 100%;
}

.video-wrapper:before{
    content: '';
    display: block;
    padding-top: 56.25%;
}

#welcome-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.color-wheel{
    position: relative;
    width: 100%;
}

.color-wheel-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.color-wheel-full{
    background-image: url('../../assets/full-wheel.png');
}

.color-wheel-red{
    background-image: url('../../assets/red-wheel.png');
}

.color-wheel-orange{
    background-image: url('../../assets/orange-wheel.png');
}

.color-wheel-yellow{
    background-image: url('../../assets/yellow-wheel.png');
}

.color-wheel-green{
    background-image: url('../../assets/green-wheel.png');
}

.color-wheel-blue{
    background-image: url('../../assets/blue-wheel.png');
}

.color-wheel-purple{
    background-image: url('../../assets/purple-wheel.png');
}

.digital-art-link{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.color-wheel-list-item{
    display: flex;
    align-items: center;
}

.color-wheel-list-item a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.color-wheel-list{
    list-style-type: none;
}

.icon-red{
    background-image: url('../../assets/red-slice.png');
}

.icon-orange{
    background-image: url('../../assets/orange-slice.png');
}

.icon-yellow{
    background-image: url('../../assets/yellow-slice.png');
}

.icon-green{
    background-image: url('../../assets/green-slice.png');
}

.icon-blue{
    background-image: url('../../assets/blue-slice.png');
}

.icon-purple{
    background-image: url('../../assets/purple-slice.png');
}