.resource-image img{
    width: 100%;
    height: 400px;
}

.price-rate{
    font-weight: bold;
    font-size: 20px;
}

.review-section{
    margin-top: 20px;
}

.resource-reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

blockquote{
    line-height: 1.6em;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 2px;
  }

.author{
    font-weight: bold;
    color: #141D1F;
}

.review-meta{
    display: flex;
    align-items: flex-end;
}

.author-avatar{
    background-color: lightblue;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
