.filter-form{
    display: flex;
    flex-direction: column;
}

.filter-form label{
    margin-top: 15px;
    margin-bottom: 8px;
}

.same-line-section{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.rate{
    margin-right: 20px;
}

.rate, .unit{
    flex: auto;
}

.day-schedule{
    display: flex;
    justify-content: space-between;
}

.day-title{
    width: 180px;
}

.schedule-time .form-input{
    display: flex;
    flex-direction: row;
}

.schedule-time .form-input label{
    margin-right: 10px;
}

.resource-form-container{
    height: 50vh;
}

.resource-form-wrapper{
    height: 100%;
}

.add-resource-form-panel{
    height: 100%;
}

.add-resource-form-panel form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-gallery > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.uploaded-image{
    padding: 10px;
}

@media only screen and (max-width: 450px){
    .rate{
        margin-right: 0;
    }
}